    *{
        box-sizing: border-box;
        background-color: #f8f9fa;
    }

    #main {
        display: flex;
        flex-flow: row wrap;
        margin: 10px;
        justify-content: center;
        font-family: Rockwell, sans-serif;
        font-size: 14px;
    }

    .container {
        margin-right: 15%;
        margin-left: 15%;
    }


    .map-title {
        align-content: stretch;
        border-bottom: #cccccc 1px solid;
    }

    .map {
        flex: 1;
        width: 490px;
        height: 490px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 0 25%;

        @media only screen and (max-width: 800px) {
            width: 210px;
            height: 210px;
            padding: 0 1%;
        }
    }

    .place {
        width: 60px;
        height: 60px;
        flex: 1 1 auto;
        margin: 5px;

        @media only screen and (max-width: 800px) {
            width: 20px;
            height: 20px;
        }
    }

    .far {
        border: solid 1px blue;

        .busy {
            width: 100%;
            height: 100%;
            background: blue;
            cursor: auto;
        }
    }

    .free{
        width: 100%;
        height: 100%;
        background: white;
        cursor: pointer;
    }

    .near {
        border: solid 1px green;

        .busy {
            width: 100%;
            height: 100%;
            background: green;
            cursor: auto;
        }
    }

    .coach{
        border: solid 1px black;
        border-radius: 50%;
        cursor: auto;
    }

    /**************************\
      Basic Modal Styles
    \**************************/

    .modal {
        font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    }

    .modal__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__container {
        background-color: #fff;
        padding: 30px;
        max-width: 500px;
        max-height: 100vh;
        border-radius: 4px;
        overflow-y: auto;
        box-sizing: border-box;
    }

    .modal__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25;
        color: #00449e;
        box-sizing: border-box;
    }

    .modal__close {
        background: transparent;
        border: 0;
    }

    .modal__header .modal__close:before { content: "\2715"; }

    .modal__content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        line-height: 1.5;
        color: rgba(0,0,0,.8);
    }

    .modal__btn {
        font-size: .875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: #e6e6e6;
        color: rgba(0,0,0,.8);
        border-radius: .25rem;
        border-style: none;
        border-width: 0;
        cursor: pointer;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
        line-height: 1.15;
        margin: 0;
        will-change: transform;
        -moz-osx-font-smoothing: grayscale;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: -webkit-transform .25s ease-out;
        transition: transform .25s ease-out;
        transition: transform .25s ease-out,-webkit-transform .25s ease-out;
    }

    .modal__btn:focus, .modal__btn:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .modal__btn-primary {
        background-color: #00449e;
        color: #fff;
    }

    input[type=email] {
        display: block;
        box-sizing: border-box;
        margin-bottom: 4px;
        width: 100%;
        font-size: 12px;
        line-height: 2;
        padding: 4px 8px;
        font-family: inherit;
        transition: 0.5s all;
        outline: none;

        &:invalid {
            border-bottom: 1px solid #ff0000;
        }

        &:focus:invalid {
            outline: none;
        }

        &:valid {
            border-bottom: 1px solid #DDDEDF;
        }
    }

    .message {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      align-self: center;
      width: 100%;
      padding: 0;

      font-size: 80%;
      color: white;

      border-radius: 0 0 5px 5px;

      -moz-box-sizing: border-box;
      box-sizing: border-box;

      .message-text {
        background-color: inherit;
      }

    }

    .error {
      background-color: #900;
      padding: 0.3rem;
    }

    .success {
      background-color: green;
      padding: 0.3rem;
    }

    .not-show {
      width: 0%;
    }

    .show {
      width: 50%;
    }



    /**************************\
      Demo Animation Style
    \**************************/
    @keyframes mmfadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes mmfadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }

    @keyframes mmslideIn {
        from { transform: translateY(15%); }
        to { transform: translateY(0); }
    }

    @keyframes mmslideOut {
        from { transform: translateY(0); }
        to { transform: translateY(-10%); }
    }

    .micromodal-slide {
        display: none;
    }

    .micromodal-slide.is-open {
        display: block;
    }

    .micromodal-slide[aria-hidden="false"] .modal__overlay {
        animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .micromodal-slide[aria-hidden="false"] .modal__container {
        animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }

    .micromodal-slide[aria-hidden="true"] .modal__overlay {
        animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .micromodal-slide[aria-hidden="true"] .modal__container {
        animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }

    .micromodal-slide .modal__container,
    .micromodal-slide .modal__overlay {
        will-change: transform;
    }
