<!DOCTYPE html>
<html>
<head>
    <title>Как вести беседу с незнакомым человеком, который в итоге даст тебе позвонить</title>
    <link rel="stylesheet" href="/assets/styles/main.min.css">
    <script src="/assets/scripts/main.min.js"></script>
</head>
<body>
{% block content %}
{% endblock %}
{{ include('Modals/Modal.twig') }}
</body>
</html>